In [1]:
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = client["assignment1"]
collection = mydb.students
collection = mydb["students"]

In [2]:
students= [{"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"}, 
             {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
             {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
             {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
             {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}]

In [3]:
#1. inserting the collection into MongoDB collection named Student
collection.insert_many(students)

InsertManyResult([ObjectId('66eff330524eba9b92cffe23'), ObjectId('66eff330524eba9b92cffe24'), ObjectId('66eff330524eba9b92cffe25'), ObjectId('66eff330524eba9b92cffe26'), ObjectId('66eff330524eba9b92cffe27')], acknowledged=True)

In [24]:
for student in collection.find():
    print(student)

{'_id': ObjectId('66ed4d067397b5e770283d32'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York', 'graduated': True}
{'_id': ObjectId('66ed4d067397b5e770283d33'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66ed4d067397b5e770283d34'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago', 'graduated': True}
{'_id': ObjectId('66ed4d067397b5e770283d36'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix', 'status': 'graduated', 'graduated': True}
{'_id': ObjectId('66eff330524eba9b92cffe26'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}

In [25]:
#2. student who have math score more than 2
query= {
    "math_score":{
        "$gt": 80
    }
}
for student in collection.find(query):
    print(student)

{'_id': ObjectId('66ed4d067397b5e770283d32'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York', 'graduated': True}
{'_id': ObjectId('66ed4d067397b5e770283d34'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago', 'graduated': True}

In [26]:
#3. fidning the student whose age is less than 23.
query = {
    "age":{
        "$lt": 23
    }
}
for student in collection.find(query):
    print(student)

{'_id': ObjectId('66ed4d067397b5e770283d33'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66eff330524eba9b92cffe26'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}

In [27]:
#4. FInding the name and math score of the students
query = {
    "_id" :0, "name": 1, "math_score": 1}
for student in collection.find({}, query):
    print(student)

{'name': 'Rohit', 'math_score': 85}
{'name': 'Eram', 'math_score': 78}
{'name': 'Madan', 'math_score': 95}
{'name': 'Neha', 'math_score': 72}
{'name': 'Uvaish', 'math_score': 60}

In [28]:
#5. find the student from New York City
query= {
    "city": {
        "$eq": "New York"
    }
}

for student in collection.find(query):
    print(student)

{'_id': ObjectId('66ed4d067397b5e770283d32'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York', 'graduated': True}

In [29]:
# 6. update the 'physics_score' of 'Neha' to 85.
collection.update_one({"name": "Neha"}, {"$set": {"physics_score": 85}})

UpdateResult({'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [30]:
# 7. delete the student 'Uvaish' from the collection.
collection.delete_one({"name": "Uvaish"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [31]:
# 8. find all students where 'math_score' is between 70 and 90 (inclusive).
pipeline= [
    {
    "$match":{
        "math_score":{
            "$gte": 70,
            "$lte": 90
        }
    }
}
]

results= collection.aggregate(pipeline)
for student in results:
    print(student)

{'_id': ObjectId('66ed4d067397b5e770283d32'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York', 'graduated': True}
{'_id': ObjectId('66ed4d067397b5e770283d33'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66ed4d067397b5e770283d36'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix', 'status': 'graduated', 'graduated': True}

In [32]:
# 9. find students whose 'math_score' is greater than 'physics_score'.
query = {
    "$expr":{
        "$gt": ["$math_score", "$physics_score"]
    }
}
for students in collection.find(query):
    print(students)

{'_id': ObjectId('66ed4d067397b5e770283d33'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66ed4d067397b5e770283d34'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago', 'graduated': True}

In [33]:
#10. students sorted by 'math_score' in descending order.
for students in collection.find().sort("math_score", -1):
    print (students)

{'_id': ObjectId('66ed4d067397b5e770283d34'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago', 'graduated': True}
{'_id': ObjectId('66ed4d067397b5e770283d32'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York', 'graduated': True}
{'_id': ObjectId('66ed4d067397b5e770283d33'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66ed4d067397b5e770283d36'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix', 'status': 'graduated', 'graduated': True}

In [34]:
#11. the aggregation framework to calculate the average 'math_score' of all students.

pipeline = [
    {"$group":{
        "_id" :None,
        "avgmathscore":{"$avg": "$math_score"}
    }}
]

for result in collection.aggregate(pipeline):
    print (result)

{'_id': None, 'avgmathscore': 82.5}

In [35]:

#12. group students by 'city' and count the number of students in each city.
pipeline =[
    {"$group":{
        "_id" : "$city",
        "count": {"$sum": 1}
    }}
]
for result in collection.aggregate(pipeline):
    print (result)

{'_id': 'New York', 'count': 1}
{'_id': 'Los Angeles', 'count': 1}
{'_id': 'Chicago', 'count': 1}
{'_id': 'Phoenix', 'count': 1}

In [36]:
#13. find students who either have 'math_score' greater than 80 or 'physics_score' greater than 85.
query= {
    "$or": [
        {"match_score": {"$gt": 80}},
        {"physics_score": {"$gt": 85}}
    ]
}
for students in collection.find(query):
    print (students)

{'_id': ObjectId('66ed4d067397b5e770283d32'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York', 'graduated': True}
{'_id': ObjectId('66ed4d067397b5e770283d34'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago', 'graduated': True}

In [37]:
#14. find students whose age is exactly 23 and live in 'Phoenix'.
query= {
    "$and": [
        {"age": 23},
        {"city": "Phoenix"}
    ]
}
for students in collection.find(query):
    print(students)

{'_id': ObjectId('66ed4d067397b5e770283d36'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix', 'status': 'graduated', 'graduated': True}

In [38]:
#15. find students whose 'math_score' is not equal to 85.

query= {
    "math_score": {
        "$ne": 85
    }
}
for students in collection.find(query):
    print (students)

{'_id': ObjectId('66ed4d067397b5e770283d33'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66ed4d067397b5e770283d34'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago', 'graduated': True}
{'_id': ObjectId('66ed4d067397b5e770283d36'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix', 'status': 'graduated', 'graduated': True}

In [39]:
#16.find students whose 'name' starts with the letter 'A'.
query= {
    "name":{
        "$regex": "^A", "$options": "i"
    }
}
for students in collection.find(query):
    print (students)                            
                                            #there are no students whose name starts with "A"

In [40]:
#17. find students whose 'city' is neither 'New York' nor 'Los Angeles'.
query = {
    "city":{
        "$nin": ["New York", "Los Angeles"]
    }
}

for students in collection.find(query):
    print(students)

{'_id': ObjectId('66ed4d067397b5e770283d34'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago', 'graduated': True}
{'_id': ObjectId('66ed4d067397b5e770283d36'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 85, 'city': 'Phoenix', 'status': 'graduated', 'graduated': True}

In [41]:
# 18.update all students with 'age' greater than 22 to add a new field 'graduated': true.
collection.update_many ({"age": {"$gt": 22}}, {"$set": {"graduated": True}})

UpdateResult({'n': 3, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [45]:
#19. remove the 'physics_score' field for students who live in 'Chicago'.
collection.update_many({"city": "Chicago"}, {"$unset": {"physics_score": ""}})

UpdateResult({'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [49]:
# 20. find the student with the highest 'math_score'.
for students in collection.find().sort("math_score", -1).limit(1):
    print (students)

{'_id': ObjectId('66ed4d067397b5e770283d34'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago', 'graduated': True}